<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="weatherInfo" type="training.metofficeweather.web.WeatherInfo"-->

    <head>
        <title>Weather Information</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Weather Information</h2>
            <div>
                <p>You entered location id: <span th:each, th:text="${weatherInfo.locationId}"></span></p>
                <p><span th:each, th:text="${weatherInfo.feelsLike}"></span></p>
                <p><span th:each, th:text="${weatherInfo.windGust}"></span></p>
                <p><span th:each, th:text="${weatherInfo.relativeHumidity}"></span></p>
                <p><span th:each, th:text="${weatherInfo.temperature}"></span></p>
                <p><span th:each, th:text="${weatherInfo.visibility}"></span></p>
                <p><span th:each, th:text="${weatherInfo.windDirection}"></span></p>
                <p><span th:each, th:text="${weatherInfo.windSpeed}"></span></p>
                <p><span th:each, th:text="${weatherInfo.maxUv}"></span></p>
                <p><span th:each, th:text="${weatherInfo.weatherType}"></span></p>
                <p><span th:each, th:text="${weatherInfo.precipitationProbability}"></span></p>

            </div>
        </div>
    </body>
</html>