<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="weatherInfo" type="training.metofficeweather.web.WeatherInfo"-->

    <head>
        <title>Weather Information</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Weather Information</h2>
            <div>
                <p>You entered location id: <span th:each, th:text="${weatherInfo.locationId}"></span></p>
                <table>
                    <thead>
                        <tr>
                            <th th:text="#{msgs.headers.name}">Name</th>
                            <th th:text="#{msgs.headers.value}">Value</th>
                        </tr>
                    </thead>
                    <tbody>
<!--                    trying to display the weather information, from the ID, in a table on this file-->
<!--                        weatherInfo.java should contain all of this information-->

                        <tr>Feels Like: <td th:text="${weatherInfo.feelsLike}"></td></tr>
                        <tr>Wind Gust: <td th:text="${weatherInfo.windGust}"></td></tr>
                        <tr>Relative Humidity: <td th:text="${weatherInfo.relativeHumidity}"></td></tr>
                        <tr>Temperature: <td th:text="${weatherInfo.temperature}"></td></tr>
                        <tr>Visibility: <td th:text="${weatherInfo.visibility}"></td></tr>
                        <tr>Wind Direction: <td th:text="${weatherInfo.windDirection}"></td></tr>
                        <tr>Wind Speed: <td th:text="${weatherInfo.windSpeed}"></td></tr>
                        <tr>Max UV: <td th:text="${weatherInfo.maxUv}"></td></tr>
                        <tr>Weather Type: <td th:text="${weatherInfo.weatherType}"></td></tr>
                        <tr>Precipitation Probability: <td th:text="${weatherInfo.precipitationProbability"></td></tr\>


                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>